/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.body {
    margin:0 auto !important;
    
}

.container{
    border: 1px solid #c0c0c0;
    width: 800px;
    margin: 0 auto;
    min-height: 300px;
}

h1{
    margin-bottom: 30px;
}

div form{
    margin: 10px 0;
}

.notice{
    font-weight: bold;
}

.container ul li{
    float:left;
    padding:2px 5px;
    border: 1px solid #c0c0c0;
    list-style: none;
    margin: 0px;
}

.container ul{
    padding:0px;
    margin:0px;
}

.container ul li.active{
    border-bottom: none;
}

.container ul li.last_active{
    border-bottom: none;
    border-right:none;
}

.container ul li a{
    text-decoration: none;
}

.menu{
    float:left;
    width:20%;
}

.response{
    clear:both;
}



